<aside id="left-panel">

    <!-- User info -->
    <div login-info></div>
    <!-- end user info -->

</li>
<li data-ui-sref-active="active">
    <a data-ui-sref="app.ui.nestableLists">{{getWord('Nestable Lists')}}</a>
    <nav>
        <!-- NOTE: Notice the gaps after each icon usage <i></i>..
        Please note that these links work a bit different than
        traditional href="" links. See documentation for details.
    -->
    <!-- NOTE: This allows you to pull menu items from server 
    <ul data-smart-menu-items="/api/menu-items.json"></ul>-->
    <ul data-smart-menu-items></ul>
</nav>

<span class="minifyme" data-action="minifyMenu" minify-menu>
    <i class="fa fa-arrow-circle-left hit"></i>
</span>

</aside>